:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
body {
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.quote-conatainer h1 {
  color: var(--Neon-Green);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.5em;
}
.quote-conatainer {
  background-color: var(--Dark-Grayish-Blue);
  width: 22rem;
  height: 20rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.quote-conatainer p {
  font-size: 28px;
  color: var(--Light-Cyan);
  margin: 0.9em;
}
.quote-conatainer img {
  z-index: 9999;
}
.desktop {
  display: none;
}
button {
  background-color: var(--Neon-Green);
  border-radius: 100%;
  padding: 1em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1.2em;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 5px 25px var(--Neon-Green);
}
@media only screen and (max-width: 320px) {
  .quote-conatainer {
    width: 100%;
  }
  .quote-conatainer p {
    margin: 0.7em;
  }
}
@media only screen and (min-width: 768px) {
  .quote-conatainer {
    width: 28rem;
    height: 16rem;
    padding: 2em;
  }

  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
